#album-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .dot {
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--clr-greyLight-1);
    z-index: 1;
    box-shadow: var(--clr-text-inner-shadow);
  }
}

#album-container > img {
  object-fit: cover;
  height: 220px;
  width: 220px;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  border-radius: 50%;
  background-size: 100%;
  background-image: no-repeat-y;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--clr-greyLight-2), -0.2rem -0.2rem 0.5rem var(--clr-white);
  animation: rotate 30s linear infinite;
}

.album__holder {
  object-fit: cover;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border-radius: 50%;
  background-image: url("../assets/images/albumCover.jpg");
  background-size: 100%;
  background-image: no-repeat-y;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--clr-greyLight-2), -0.2rem -0.2rem 0.5rem var(--clr-white);
}

// .currently-playing-artist {
//   margin-top: 1rem;
//   font-size: var(--fs-larger);
// }

// --fs-small: 0.8rem;
// --fs-medium: 1rem;
// --fs-large: 1.4rem;
// --fs-largest: 3rem;

// // Font weight
// --fw-thin: 200;
// --fw-normal: 300;
// --fw-bold: 400;
// --fw-bolder: 500;
// --fw-heavy: 700;
