.songDetails {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  // width: 17rem;
  // height: 6rem;
  // box-shadow: var(--clr-text-shadow);
  // box-shadow: var(--clr-text-inner-shadow);
}

.currently-playing-label,
.currently-playing-artist {
  margin-top: 0.9rem;
}

.currently-playing-label {
  font-weight: var(--fw-heavy);
}

.currently-playing-artist {
  margin-top: 1rem;
  padding: 1rem;
  font-size: var(--fs-larger);
  margin-bottom: 1rem;
  box-shadow: var(--clr-text-inner-shadow);

  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}

/// LOWER COPY

.currently-playing-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--clr-text-inner-shadow);
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

// --fs-small: 0.8rem;
// --fs-medium: 1rem;
// --fs-large: 1.4rem;
// --fs-larger: 1.9rem;
// --fs-largest: 3rem;

// // Font weight
// --fw-thin: 200;
// --fw-normal: 300;
// --fw-bold: 400;
// --fw-bolder: 500;
// --fw-heavy: 700;
