.songDetails {
  display: flex;
  flex-direction: column;
  border: orange 1px solid;
  text-transform: uppercase;
}

.currently-playing-label,
.currently-playing-artist {
  margin-top: 0.9rem;
}

.currently-playing-artist {
  margin-top: 1rem;
  font-size: var(--fs-larger);
  margin-bottom: 1rem;
}

// --fs-small: 0.8rem;
// --fs-medium: 1rem;
// --fs-large: 1.4rem;
// --fs-largest: 3rem;

// // Font weight
// --fw-thin: 200;
// --fw-normal: 300;
// --fw-bold: 400;
// --fw-bolder: 500;
// --fw-heavy: 700;
