:root {
  // Colors
  --clr-primary-light: #8abdff;
  --clr-primary: #6d5dfc;
  --clr-primary-dark: #5b0eeb;

  --clr-white: #ffffff;
  --clr-black: #171717;

  --clr-greyLight-1: #e4ebf5;
  --clr-greyLight-2: #c8d0e7;
  --clr-greyLight-3: #bec8e4;
  --clr-greyDark: #9baacf;

  // Colour of text
  --clr-text-primary: #171717;
  --clr-text-secondary: #b1acac;

  // Font family
  --ff-primary: "Source Code Pro", monospace;
  --ff-secondary: ...;

  // Font size
  --fs-small: 0.8rem;
  --fs-medium: 1rem;
  --fs-large: 1.4rem;
  --fs-larger: 1.9rem;
  --fs-largest: 3rem;

  // Font weight
  --fw-thin: 200;
  --fw-normal: 300;
  --fw-bold: 400;
  --fw-bolder: 500;
  --fw-heavy: 700;
}
